@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--muted-foreground) / 0.3) transparent;
  }
  .scrollbar:hover {
    scrollbar-color: hsl(var(--muted-foreground) / 0.5) transparent;
  }
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--muted-foreground) / 0.3);
    border-radius: 3px;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--muted-foreground) / 0.5);
  }
}
